.post-container {
    flex-basis: calc(33% - 10px);
}

#posts-container {
    width: 75%;
}

#post-form {
    width: 25%;
}

#content {
    height: 300px;
}

.bg-light{
    background-color: #BADEFC!important;
}

.bg-dark {
    background-color: #525252!important;
}

#find-user {
    flex: 3 1 auto;
}

.card-body {
    white-space: pre-wrap;
}

.hidden {
    display: none;
}

.btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
}

